$input-focus-border-color: var(--primary-color);

@import '../../../node_modules/bulma/bulma';

.navbar-item {
  img {
    max-height: none;
  }
}

.navbar-item {
  padding: 0;
}

.button {
  box-shadow: none !important;
  outline: none;
}