.title {
  color: var(--text-strong-color);
}

.dropdown {
  display: none;
  transition: var(--transition-duration) ease;
  li {
    a {
      padding: 0.25rem 1rem;
      width: 100%;
      display: flex;
      color: var(--text-normal-color);
      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}

.dropdown.is-active {
  display: block;
}

.main {
  height: 100%;
}

body {
  height: 100vh;
}

.section {
  padding: 2rem 3rem;
}

html {
  overflow: hidden;
}

.is-fullwidth {
  width: 100%;
}

.is-fullheight {
  height: 100%;
}

.column.is-offset-auto {
  margin-left: auto !important;
}

.badge {
  background-color: var(--secondary-color);
  color: var(--white-color);
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

.button.is-circle {
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.is-primary {
  background-color: var(--primary-color);
  background: var(--gradient-primary-color);
  background-position: center center;
  background-size: 250%;
  transition: .3s ease;
  &:hover {
    background-color: var(--primary-color);
    background: var(--gradient-primary-color);
    background-size: 150%;
  }
}

.field {
  position: relative;
}

.control {
  width: 100%;
}

.label {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--white-color);
  transform: translateX(10px)  translateY(-50%);
  margin: 0;
  color: var(--text-weak-color);
  font-size: 1rem;
  padding: 0 0.25rem;
  transition: .3s ease;
}

input.input {
  background-color: transparent;
  z-index: 1;
}


input.input:valid + .label {
  transform: translateX(10px) translateY(-170%);
  font-size: 0.75rem;
  opacity: 1;
  z-index: 5;
}
