.modal {
  z-index: 9999999;
}

.modal-content {
  height: 100%;
  width: auto;
}

.image {
  height: 100%;
}

.modal-background {
  background: rgba(10, 10, 10, 0.75);
}

img {
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  width: auto;
}
